<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Lithe. A lithe framework for the web by TheWebFormula">
  <meta name="keywords" content="Lithe, thewebformauls, web, framework, HTML, CSS, JavaScript">

  <title>Lithe</title>
  <style>
    body {
      font-family: Arial;
      visibility: hidden;
    }
  </style>
</head>

<body>
  <main id="page-content" role="main"></main>
</body>

</html>
